*{
font: size 36pt;
color: red;
background-color: silver;
}
r.nieuniwersalna{
font: size 36pt;
color:green;
}
.romanchenko_uniwersalna{
font: size 23pt;
color:green;    
}
/* <!--Romanchenko_Z57> --> */